body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    background-color: gray;

}

.display-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.main-display {
    background-color: white;
    width: 485px;
    flex: 3;
    font-size: 45px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.small-display {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 485px;
    flex: 1;
    text-align: right;
    justify-content: end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.row {
    display: flex;
    flex: 1;
    padding: 5px;
    width: 485px;
}

.main {
    gap: 5px;
}

.button {
    flex: 0.75;
    font-size: 45px;
}